.search-address {
  position: relative;
  border: 1px solid #C3C3C3;
  border-radius: 3px;
  margin: 0 auto;
  max-width: 600px;
}
.search-address .text-input {
  border: none;
}
.search-address-image {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 10px;
  width: 30px;
}
