.product {
  display: inline-block;
  align-items: center;
  margin: 10px;
  padding: 10px;
  max-height: 420px;
  max-width: 280px;
  border: 2px solid #ECECEC;
  border-radius: 5px;
  text-align: center;
}
.product-title {
  color: #000000;
  font-size: 18px;
  height: 54px;
  overflow: hidden;
  display: block;
  font-weight: bold;
  line-height: 28px;
  margin: auto;
  text-align: center;
}
.product-image {
  height: 150px;
}
.product-price {
  font-size: 30px;
  margin-top: 15px;
}
.product-amount {
  display: flex;
  margin: 10px 0 0;
}
.product-amount-input {
  flex: 1;
  margin: auto 10px;
  text-align: center;
  width: 120px;
  height: 60px;
}
.product-amount-btn {
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  transition: all .3s ease-in-out;
  outline: none;
}
.blue-btn {
  border: 1px solid #4c6298;
  background-color: #4c6298;
  color: white;
}
.blue-btn:hover {
  background-color: white;
  color: #4c6298;
}
.red-btn {
  border: 1px solid #e95d5d;
  color: #e95d5d;
}
.red-btn:hover {
  background-color: #e95d5d;
  color: white;
}
.product-amount-input {
  flex: 1;
  text-align: center;
  width: 120px;
  height: 60px;
}

.text-input {
  box-sizing: border-box;
  padding: 20px 10px;
  width: 100%;
  height: 60px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #C3C3C3;
  outline: none;
  text-align: center;
}