.header {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  background-color: #3a4c76;
}
.header-address {
  text-align: right;
}
.header-address p {
  color: white;
  font-size: 15px;
}
.header-address p:last-child {
  background: #a8b4d1;
  margin: 0 10px;
  padding: 5px 20px;
  border-radius: 2px;
  text-align: center;
}
.header-address p strong {
  font-size: 15px;
  text-transform: uppercase;
}
.header-user {
}
.header-user-btn {
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  outline: none;
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.header-user-btn:hover {
  background-color: #a8b4d0;
  color: #3a4c76;
  border-color: #a8b4d0;
}

