body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.display-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center
}
.justify-content-flex-end {
  justify-content: flex-end
}
.justify-content-space-between {
  justify-content: space-between;
}

.center-page {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  width: 95%;
}
